{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Login</th>
                <th>Datecreation</th>
                <th>Adressemail</th>
                <th>Numerotelephone</th>
                <th>Flagactif</th>
                <th>Profil</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.login }}</td>
                <td>{% if user.dateCreation %}{{ user.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.adresseMail }}</td>
                <td>{{ user.numeroTelephone }}</td>
                <td>{{ user.flagActif }}</td>
                <td>{{ user.profil }}</td>
                <td>{{ user.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
